# Application
HDHS_ENVIRONMENT=development
LOG_FILE_PATH=/home/hdhsuser/logs/hdhs.log
#Choose from CRITICAL, ERROR, WARNING, INFO, DEBUG
LOG_LEVEL=DEBUG
GIT_PYTHON_REFRESH=quiet

# Flask
DEBUG=True
FLASK_ENV="${HDHS_ENVIRONMENT}"

# MQs
MESSAGE_EXPIRATION_MS=3600000
MESSAGE_MAX_RETRIES=3

BROKER_URL=XXX

CONSUME_QUEUE_NAME=dais-dead-letter-queue
DLQ_EXCHANGE=dais-dead-letter-exchange

# Mailing
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SENDER=
EMAIL_DESTINATARY=
