# MQs
MESSAGE_EXPIRATION_MS=5000
MESSAGE_MAX_RETRIES=3

# Transfer MQ
MQ_TRANSFER_HOST=test_activemq
MQ_TRANSFER_PORT=61613
MQ_TRANSFER_USER=admin
MQ_TRANSFER_PASSWORD=admin
# False for local test environment
MQ_TRANSFER_SSL_ENABLED=False
MQ_TRANSFER_QUEUE_TRANSFER_READY=/queue/test-transfer-ready
MQ_TRANSFER_QUEUE_TRANSFER_STATUS=/queue/test-dropbox-transfer-status
MQ_TRANSFER_QUEUE_DLQ=ActiveMQ.DLQ

# Process MQ
MQ_PROCESS_HOST=test_activemq
MQ_PROCESS_PORT=61613
MQ_PROCESS_USER=admin
MQ_PROCESS_PASSWORD=admin
# False for local test environment
MQ_PROCESS_SSL_ENABLED=False
MQ_PROCESS_QUEUE_PROCESS_READY=/queue/test-dims-data-ready
MQ_PROCESS_QUEUE_PROCESS_STATUS=/queue/test-drs-ingest-status
MQ_PROCESS_QUEUE_DLQ=ActiveMQ.DLQ

# Mailing
EMAIL_HOST=
EMAIL_PORT=
EMAIL_SENDER=
EMAIL_DESTINATARY=
